@import "tailwindcss";

@theme inline {
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(14.5% 0 0);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(14.5% 0 0);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(14.5% 0 0);
  --color-primary: oklch(20.5% 0 0);
  --color-primary-foreground: oklch(98.5% 0 0);
  --color-secondary: oklch(96.5% 0 0);
  --color-secondary-foreground: oklch(20.5% 0 0);
  --color-muted: oklch(96.5% 0 0);
  --color-muted-foreground: oklch(45.5% 0 0);
  --color-accent: oklch(96.5% 0 0);
  --color-accent-foreground: oklch(20.5% 0 0);
  --color-destructive: oklch(57.7% 0.245 27.325);
  --color-destructive-foreground: oklch(98.5% 0 0);
  --color-border: oklch(92.5% 0 0);
  --color-input: oklch(92.5% 0 0);
  --color-ring: oklch(70.8% 0 0);
}

:root {
  --radius: 0.5rem;
}

.dark {
  --color-background: oklch(14.5% 0 0);
  --color-foreground: oklch(98.5% 0 0);
  --color-card: oklch(14.5% 0 0);
  --color-card-foreground: oklch(98.5% 0 0);
  --color-popover: oklch(14.5% 0 0);
  --color-popover-foreground: oklch(98.5% 0 0);
  --color-primary: oklch(98.5% 0 0);
  --color-primary-foreground: oklch(20.5% 0 0);
  --color-secondary: oklch(26.9% 0 0);
  --color-secondary-foreground: oklch(98.5% 0 0);
  --color-muted: oklch(26.9% 0 0);
  --color-muted-foreground: oklch(70.8% 0 0);
  --color-accent: oklch(26.9% 0 0);
  --color-accent-foreground: oklch(98.5% 0 0);
  --color-destructive: oklch(57.7% 0.245 27.325);
  --color-destructive-foreground: oklch(98.5% 0 0);
  --color-border: oklch(26.9% 0 0);
  --color-input: oklch(26.9% 0 0);
  --color-ring: oklch(55.6% 0 0);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
